{% include header.html %}

<div class="container container-left">
    <div class="row">
        <div class="col-md-3 hidden-xs">
            {% include sidebar.html %}
        </div>
        <div class="col-md-9">
          <article class="article">
            <div class="well">
                <h1><a href="{{ site.baseurl}}{{ page.url }}">{{ page.title }}</a></h1>
                <div class="post-content">
                {{ content }}
                </div>
            </div>
          </article>
        </div>
    </div>
</div>

{% include footer.html %}
